aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
discord==1.0.1
discord.py==1.2.5
idna==2.8
multidict==4.6.1
numpy==1.17.4
pipenv==2018.11.26
pyTelegramBotAPI==3.6.6
requests==2.22.0
six==1.13.0
urllib3==1.25.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
websockets==9.1
yarl==1.4.1
